* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    transition: margin-left 0.3s ease;
}

.photo-container {
    position: relative;
    display: inline-block;
}

.header-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.5s;
}

.header-photo:hover {
    transform: scale(1.1);
}

#resume-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

#resume-button i {
    margin-right: 0.5rem;
}

#resume-button:hover {
    background-color: #555353;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ddd;
}

.side-panel-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    z-index: 1000;
    transition: left 0.3s ease;
}

.side-panel-button.shifted {
    left: 301px;
}

.side-panel {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    transition: left 0.3s ease;
    overflow-y: auto;
    z-index: 999;
}

.side-panel.open {
    left: 0;
}

.side-panel h3 {
    margin-top: 1rem;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

#main-content {
    transition: margin-left 0.3s ease;
    color: #9f9c9c;
}

#main-content.shifted,
#header.shifted {
    margin-left: 300px;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}


section h2 {
    margin-bottom: 1rem;
    color: #333;
}

#contacts {
    background-color: #eee;
    padding: 1.5rem;
    border-radius: 5px;
}


#skills {
    margin-top: 2rem;
}

.skill {
    margin-bottom: 1rem;
}

.skill-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill span {
    font-weight: bold;
}

.skill-bar {
    background-color: #eee;
    border-radius: 20px;
    overflow: hidden;
    height: 10px;
    position: relative;
    margin-top: 5px;
    flex-grow: 1;
}

.skill-percentage {
    background-color: #495664;
    height: 100%;
    transition: width 0.3s ease;
    border-radius: 20px;
}


.skill-value {
    font-weight: normal;
    color: #9f9c9c;
    white-space: nowrap;
    font-size: 12px; 
}


#education {
    text-align: center;
    margin-top: 2rem;
}

.education-btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #818282;
    border: none;
    border-color: #000000;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    position: relative;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: left;
}

.close-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.education-btn:hover {
    color: transparent; 
}

.education-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('photos/istockphoto-1218473959-612x612.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.education-btn:hover::before {
    opacity: 1;
}

.popup-image {
    width: 100%;
    max-width: 200px; 
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
}


.education-btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #9e9fa0;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    transition: background-color 0.3s ease;
}

.education-btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10; 
}

.popup-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.popup-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.close-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


#experience {
    margin: 50px;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

#experience h2 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: #333;
    font-size: 2em;
    margin-bottom: 30px;
    text-align: left;
}

.timeline-item {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}

.timeline-icon {
    width: 40px;
    height: 40px;
    background-color: #5cb85c; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2em;
    position: relative;
    z-index: 1;
}

.timeline-icon.red {
    background-color: #d9534f; 
}

.timeline-icon.blue {
    background-color: blue;
}

.timeline-icon.black {
    background-color: #000000;
}

.timeline-icon.yellow {
    background-color: #b85caa;
}

.timeline-content {
    background: #f7f7f7;
    padding: 15px 20px;
    border-radius: 10px;
    margin-left: 20px;
    width: calc(100% - 60px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
    font-size: 1.2em;
    margin: 0;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeline-content h3 span {
    font-size: 0.9em;
    font-weight: normal;
    color: #888;
}

.timeline-content .company {
    font-weight: 500;
    color: #555;
    margin: 5px 0 10px;
}

.timeline-content .description {
    font-style: italic;
    color: #666;
    margin: 0;
}

.timeline-item:before {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #ccc;
    top: 0;
    bottom: 0;
    left: 20px;
    z-index: 0;
    border-radius: 1px;
}



#services {
    display: flex;
    justify-content: space-around;
    margin: 60px 20;
    gap: 20px;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 2em;
    margin-bottom: 15px;
}

.icon.blue {
    color: #007bff;
}

.icon.red {
    color: #dc3545;
}

.icon.yellow {
    color: #ffc107;
}

.icon.purple {
    color: #6f42c1;
}

.card h3 {
    font-size: 1.2em;
    font-weight: 500;
    color: #333;
    margin: 10px 0;
}

.card::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
}

.card:nth-child(1)::after {
    background-color: #00ff33;
}

.card:nth-child(2)::after {
    background-color: #dcdc35;
}

.card:nth-child(3)::after {
    background-color: #ff075a;
}

.card:nth-child(4)::after {
    background-color: #4a42c1;
}



#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-item {
    margin: 10px 0;
    position: relative;
    cursor: pointer;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.overlay-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 50px;
    border-radius: 30px;
    font-size: 18px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.portfolio-item:hover .overlay-message {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    max-width: 500px;
    position: relative;
    text-align: center;
}

.modal-images img {
    width: 100%;
    max-width: 200px;
    margin: 10px;
}

.link-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}





.contact-section {
    display: flex;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.contact-info, .contact-form {
    padding: 40px;
}

.contact-info {
    flex: 1;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-info h2 {
    font-size: 14px;
    color: #999;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact-info h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-item .icon {
    font-size: 24px;
    color: #007bff;
}

.info-item a, .info-item p {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.contact-form {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
    height: 120px;
}

.contact-form button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
  }
  
  .menu a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  
  .menu a:hover::after,
  .menu a:focus::after {
    width: 100%;
  }
  
  .menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: width 0.3s ease;
  }
  

  






@media (max-width: 768px) {
    header {
        text-align: left;
        padding-left: 1rem;
    }
    .side-panel-button.shifted {
        left: 250px;
    }
    #main-content.shifted,
    #header.shifted {
        margin-left: 250px;
    }
}
